<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Modifier Ecole</h4>
              </div>

              <div class="card-body">
                <form (ngSubmit)="updateEcole()">
                  <div class="row">
                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label>Nom Ecole</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="ecole.nom"
                          name="nom"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Adresse</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="ecole.adresse"
                          name="adresse"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label>téléphone</label>
                        <!--<input type="tel" class="form-control" name="téléphone" required>-->
                        <input
                          type="tel"
                          pattern="[0-9]{10}"
                          class="form-control"
                          [(ngModel)]="ecole.telephone"
                          name="telephone"
                          placeholder="xx xx xx xx"
                        />
                        <div class="error"></div>
                      </div>
                    </div>

                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label>Nom Directeur</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="ecole.directeur"
                          name="directeur"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label> site Web</label>
                        <input
                          type="url"
                          class="form-control"
                          [(ngModel)]="ecole.siteweb"
                          name="siteweb"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label> nom Court</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="ecole.nomCourt"
                          name="nomCourt"
                          required
                        />
                      </div>
                    </div>
                    <br />

                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label>Numéro Ecole</label>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="ecole.numeroEcole"
                          name="numeroEcole"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label>Ville</label>

                        <select
                          [(ngModel)]="ecole.id_ville"
                          name="id_ville"
                          class="form-control"
                        >
                          <option
                            *ngFor="let ville of villes"
                            [value]="ville.id"
                          >
                            {{ ville.nom }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-2 pr-1">
                      <div class="form-group">
                        <label>Base Echelle Notation</label>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="ecole.baseEchelleNotation"
                          name="baseEchelleNotation"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-md-2 pr-1">
                      <div class="form-group">
                        <label>Nombe Jours Rotation</label>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="ecole.nombreJoursRotation"
                          name="nombreJoursRotation"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Modifier</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
