<div *ngIf="emploiDuTemps.length > 0">
  <h3>Emploi du temps pour le groupe {{ groupeId }}</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Heure</th>
        <th *ngFor="let jour of jours"> {{ jour }} </th>
      </tr>
    </thead>
    <tbody>
      <!-- Tranches horaires -->
      <tr *ngFor="let tranche of tranchesHoraires">
        <td>{{ tranche.heure_debut }} - {{ tranche.heure_fin }}</td>
        <!-- Seances pour chaque jour -->
        <td *ngFor="let jour of jours">
          <ng-container *ngFor="let seance of getSeancesForTrancheAndJour(tranche, jour)">
            <p>{{ seance.matiere.nom }}</p>
            <p>{{ seance.salle.nom }}</p>
            <p>{{ seance.matiere.enseignant.nom }}</p>            
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="emploiDuTemps.length === 0">
  <p>Aucun emploi du temps trouvé pour ce groupe.</p>
</div>
