<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div>
            <h5 class="title">Villes</h5>
            <p class="category">Résultats : {{ Villes.length }} Villes.</p>
          </div>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Ajouter Ville
          </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead class="text-primary">
                <th class="text-center">CODE</th>
                <th class="text-center">NOM VILLE</th>

                <th class="text-center">CODE POSTAL</th>

                <th class="text-center">ACTIONS</th>
              </thead>

              <tbody>
                <!--<tr *ngFor="let role of roles">-->
                <tr *ngFor="let ville of Villes">
                  <td>
                    {{ ville.code }}
                  </td>
                  <td>
                    {{ ville.nom }}
                  </td>
                  <td class="text-center">
                    {{ ville.codePostal }}
                  </td>

                  <td class="text-center">
                    <button
                      (click)="openEditVilleModal(ville)"
                      class="btn btn-green"
                      data-bs-toggle="modal"
                      data-bs-target="#editVilleModal"
                    >
                      Modifier
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteVille(ville.id)"
                    >
                      Supprimer
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Ville Model -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCityModalLabel">Ajouter Ville</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="insertVille()">
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Nom Ville</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="ville.nom"
                      name="nom"
                      required
                    />
                  </div>
                </div>

                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Code Postal</label>
                    <input
                      type="number"
                      class="form-control"
                      [(ngModel)]="ville.codePostal"
                      name="codePostal"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-primary mb-2"
                  data-bs-dismiss="modal"
                >
                  Ajouter
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Ville Model -->
    <div
    class="modal fade"
    id="editVilleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCityModalLabel">Modifier Ville</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="updateVille()">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Nom Ville</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="editingVille.nom"
                    name="nom"
                    required
                  />
                </div>
              </div>

              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Code Postal</label>
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="editingVille.codePostal"
                    name="codePostal"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                class="btn btn-primary mb-2"
                data-bs-dismiss="modal"
              >
                Modifier
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
