<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <div>
          <h5 class="title">Roles</h5>
          <p class="category">Résultats : {{ roles.length }} Roles.</p>

        </div>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#roleModal"
        >
          Ajouter Role
        </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead class="text-primary">
                <th class="text-center">CODE</th>
                <th class="text-center">ROLE</th>

                <th class="text-center">DESIGNATION</th>

                <th class="text-center">ACTIONS</th>
              </thead>

              <tbody>
                <tr *ngFor="let role of roles">
                  <td>
                    {{ role.code }}
                  </td>
                  <td>
                    {{ role.role }}
                  </td>
                  <td class="text-center">
                    {{ role.designation }}
                  </td>

                  <td class="text-center">
                    <button
                    (click)="openEditRoleModal(role)"
                    class="btn btn-green"
                    data-bs-toggle="modal"
                    data-bs-target="#editRoleModal"
                  >
                    Modifier
                  </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteRole(role.id)"
                    >
                      Supprimer
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Role Model -->
    <div
      class="modal fade"
      id="roleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCityModalLabel">Ajouter Role</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="insertRole()">
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Role</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="role.role"
                      name="role"
                      required
                    />
                  </div>
                </div>

                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Designation</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="role.designation"
                      name="designation"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary mb-2">
                    Ajouter
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- Edit Role Model -->
    <div
      class="modal fade"
      id="editRoleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCityModalLabel">Ajouter Role</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="updateRole()">
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Role</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="editingRole.role"
                      name="role"
                      required
                    />
                  </div>
                </div>

                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Designation</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="editingRole.designation"
                      name="designation"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary mb-2">
                    Ajouter
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
