<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="col-md-12">
    <div class="card">
      <div class="container mt-5">
        <h3>Profile</h3>
        <!-- enctype="multipart/form-data" -->
        <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
              placeholder="Enter your name"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              formControlName="email"
              placeholder="Enter your email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              formControlName="password"
              placeholder="Enter a new password (optional)"
            />
          </div>
          <div class="form-group">
            <label for="password_confirmation">Confirm Password</label>
            <input
              type="password"
              id="password_confirmation"
              class="form-control"
              formControlName="password_confirmation"
              placeholder="Confirm your password"
            />
          </div>
          <!--  <div class="form-group">
        <label for="profile_image">Profile Image</label>
        <input
          type="file"
          id="profile_image"
          class="form-control"
          (change)="onFileChange($event)"
        />
      </div> -->
          <button type="submit" class="btn btn-primary" [disabled]="loading">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm"
            ></span>
            Update Profile
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
