<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div>
            <h5 class="title">Seances</h5>
            <p class="category">Résultats : {{ seances.length }} Seances.</p>
          </div>

          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#seanceModal"
          >
            Ajouter Seance
          </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead class="text-primary">
                <th class="text-center">N°</th>
                <th class="text-center">Groupe</th>
                <th class="text-center">Matiere</th>
                <th class="text-center">Salle</th>
                <th class="text-center">Jour</th>
                <th class="text-center">Tranche Horaire</th>
                <th class="text-center">ACTIONS</th>
              </thead>

              <tbody>
                <tr *ngFor="let seance of seances; let i = index">
                  <td class="text-center">
                    {{ i + 1 }}
                  </td>
                  <td class="text-center">
                    {{ seance.groupe?.nom }}
                  </td>
                  <td class="text-center">
                    {{ seance.matiere.nom }}
                  </td>
                  <td class="text-center">
                    {{ seance.salle.nom }}
                  </td>
                  <td class="text-center">
                    {{ seance.day }}
                  </td>
                  <td class="text-center">
                    {{ seance.tranche_horaire.heure_debut }} -
                    {{ seance.tranche_horaire.heure_fin }}
                  </td>
                  <td class="text-center">
                    <button
                      (click)="openEditModalSeance(seance)"
                      class="btn btn-green"
                      data-bs-toggle="modal"
                      data-bs-target="#editSeanceModal"
                    >
                      Modifier
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteSeance(seance.id)"
                    >
                      Supprimer
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- start seanceModal -->
    <div
      class="modal fade"
      id="seanceModal"
      tabindex="-1"
      aria-labelledby="matiereModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addMatiereModalLabel">
              Ajouter Matiere
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="insertSeance()">
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Groupe</label>
                    <select
                      class="form-control"
                      [(ngModel)]="seance.groupe_id"
                      name="groupe_id"
                    >
                      <option
                        *ngFor="let groupe of groupes"
                        [value]="groupe.id"
                      >
                        {{ groupe.nom }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Matiere</label>
                    <select
                      class="form-control"
                      [(ngModel)]="seance.matiere_id"
                      name="matiere_id"
                    >
                      <option
                        *ngFor="let matiere of matieres"
                        [value]="matiere.id"
                      >
                        {{ matiere.nom }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Salle</label>
                    <select
                      class="form-control"
                      [(ngModel)]="seance.salle_id"
                      name="salle_id"
                    >
                      <option *ngFor="let salle of salles" [value]="salle.id">
                        {{ salle.nom }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Jour</label>
                    <select
                      class="form-control"
                      [(ngModel)]="seance.day"
                      name="day"
                    >
                      <option *ngFor="let jour of days" [value]="jour">
                        {{ jour }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Tranche Horaire</label>
                    <select
                      class="form-control"
                      [(ngModel)]="seance.tranche_horaire_id"
                      name="tranche_horaire_id"
                    >
                      <option
                        *ngFor="let tranchehoraire of tranchehoraires"
                        [value]="tranchehoraire.id"
                      >
                        {{ tranchehoraire.heure_debut }} -
                        {{ tranchehoraire.heure_fin }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-primary mb-2"
                  data-bs-dismiss="modal"
                >
                  Ajouter
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end matiereModal -->

    <!-- start editMatiereModal -->
    <!--  <div
      class="modal fade"
      id="editMatiereModal"
      tabindex="-1"
      aria-labelledby="editMatiereModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editMatiereModalLabel">
              Modifier Matiere
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="updateMatiere()">
              <div class="row">
                <!--  <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Nom semestre</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="editingSemestre.nom"
                      name="nom"
                      required
                    />
                  </div>
                </div> -->

    <!--     <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>start_end</label>
                    <input
                      type="number"
                      class="form-control"
                      [(ngModel)]="editingSemestre.start_end"
                      name="start_end"
                      required
                    />
                  </div>
                </div> -->
    <!-- </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  Modifier
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> -->
    <!-- end editMatiereModal -->
  </div>
</div>
